*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
  background: #cdf3f3;
}
.container{
    max-width: 575px;
    min-width: 570px;
    height: 720px;
    background-color: #CCC;
    display: block;
    border: 10px #888 solid;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 50px auto;
}
.containerDisplay{
    width: 100%;
    height:auto;
    box-sizing: border-box;
    display: block;
    float: left;
    clear:none;
    margin-bottom: 10px;
}
.display{
    text-align: right;
    height:60px;
    box-sizing: border-box;
    font-size: 28pt;
    font-family: monospace;
    border: 5px #AAA solid;
}
.display-sm{
  position: relative; 
  bottom:38px;
  left:10px;
  font-weight: bold;
  background-color: white;
  width:20px;
  height:12px;
  font-size: 18pt;
  color: black;
}
.containerDigits{
    margin-left:5%;
    display:block;
    /* background-color:#ff5; */
    width: 100%;
    box-sizing: border-box;
}
.digit{
    font-family: monospace;
    width: 100px;
    height: 100px;
    margin: 2%;
    box-sizing: border-box;
}
.digit-ac{
  font-size: 24pt;
}
.digit-spc{
  font-size: 22pt;
}
.digit-oper{
  font-size: 22pt;
}
.digit-res{
    font-size: 24pt;
}
.digit-n{
    font-size: 22pt;
}
