*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
  background: #cdf3f3;
}
.container{
    max-width: 575px;
    min-width: 570px;
    height: 710px;
    background-color: #CCC;
    display: block;
    border: 5px #888 solid;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 20px auto;
}
.containerDisplay{
    width: 100%;
    height:auto;
    box-sizing: border-box;
    display: block;
    float: left;
    clear:none;
    margin-bottom: 10px;
}
.display{
    text-align: right;
    height:60px;
    box-sizing: border-box;
    font-size: 28pt;
    font-family: monospace;
    border: 3px #AAA solid;
}
.display-sm{
  position: relative; 
  bottom:35px;
  left:8px;
  font-weight: bold;
  background-color: white;
  width:20px;
  height:12px;
  font-size: 18pt;
  color: black;
}
.containerDigits{
    margin-left:5%;
    display:block;
    /* background-color:#ff5; */
    width: 100%;
    box-sizing: border-box;
}
.digit{
    font-family: monospace;
    display:block;
    clear:none;
    float:left;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 5px;
}
.digit-ac{
  font-size: 24pt;
  color:white;
  background-color: #DD2222;
}
.digit-spc{
  font-size: 22pt;
  color:white;
  background-color: #4444EE;
}
.digit-oper{
  font-size: 22pt;
  color:white;
  background-color: #4444FF;
}
.digit-res{
    font-size: 24pt;
    color:white;
    background-color: #118811;
}
.digit-n{
    font-size: 22pt;
    color:white;
    background-color: #AAA;
}
